<div class="min-h-full flex flex-col">

  <!-- Toolbar -->
  <div class="flex justify-between bg-purple-700 px-12 py-6 sticky top-0">

    <div class="flex items-center gap-x-4">
      <span class="text-3xl text-white font-semibold">Novels Tracker</span>
    </div>

    <div class="flex items-center gap-x-1 text-lg text-white font-semibold">
      <button pRipple class="navigation-btn">Novel List</button>
      <button pRipple class="navigation-btn">New Novel</button>
    </div>

  </div>

  <!-- Content -->
  <div class="p-8 bg-gray-800 flex-grow">
    <router-outlet></router-outlet>
  </div>

</div>
